In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np
import pickle

In [2]:
df = pd.read_csv('../data/train.csv')

In [3]:
df.head(20)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1
6,1821,0,1.7,0,4,1,10,0.8,139,8,...,381,1018,3220,13,8,18,1,0,1,3
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0
8,1445,1,0.5,0,0,0,53,0.7,174,7,...,386,836,1099,17,1,20,1,0,0,0
9,509,1,0.6,1,2,1,9,0.1,93,5,...,1137,1224,513,19,10,12,1,0,0,0
10,769,1,2.9,1,0,0,9,0.1,182,5,...,248,874,3946,5,2,7,0,0,0,3
11,1520,1,2.2,0,5,1,33,0.5,177,8,...,151,1005,3826,14,9,13,1,1,1,3
12,1815,0,2.8,0,2,0,33,0.6,159,4,...,607,748,1482,18,0,2,1,0,0,1
13,803,1,2.1,0,7,0,17,1.0,198,4,...,344,1440,2680,7,1,4,1,0,1,2
14,1866,0,0.5,0,13,1,52,0.7,185,1,...,356,563,373,14,9,3,1,0,1,0
15,775,0,1.0,0,3,0,46,0.7,159,2,...,862,1864,568,17,15,11,1,1,1,0
16,838,0,0.5,0,1,1,13,0.1,196,8,...,984,1850,3554,10,9,19,1,0,1,3
17,595,0,0.9,1,7,1,23,0.1,121,3,...,441,810,3752,10,2,18,1,1,0,3
18,1131,1,0.5,1,11,0,49,0.6,101,5,...,658,878,1835,19,13,16,1,1,0,1
19,682,1,0.5,0,4,0,19,1.0,121,4,...,902,1064,2337,11,1,18,0,1,1,1

In [4]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [5]:
df['blue'] = df['blue'].astype('category')
df['dual_sim'] = df['dual_sim'].astype('category')
df['four_g'] = df['four_g'].astype('category')
df['three_g'] = df['three_g'].astype('category')
df['touch_screen'] = df['touch_screen'].astype('category')
df['wifi'] = df['wifi'].astype('category')
df['price_range'] = df['price_range'].astype('category')

In [6]:
df['fc'] = df['fc'].astype('int8')
df['int_memory'] = df['int_memory'].astype('int8')
df['n_cores'] = df['n_cores'].astype('int8')
df['pc'] = df['pc'].astype('int8')
df['sc_h'] = df['sc_h'].astype('int8')
df['sc_w'] = df['sc_w'].astype('int8')
df['talk_time'] = df['talk_time'].astype('int8')

In [7]:
df.head(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1
6,1821,0,1.7,0,4,1,10,0.8,139,8,...,381,1018,3220,13,8,18,1,0,1,3
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0
8,1445,1,0.5,0,0,0,53,0.7,174,7,...,386,836,1099,17,1,20,1,0,0,0
9,509,1,0.6,1,2,1,9,0.1,93,5,...,1137,1224,513,19,10,12,1,0,0,0

In [8]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   category
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   category
 4   fc             2000 non-null   int8
 5   four_g         2000 non-null   category
 6   int_memory     2000 non-null   int8
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int8
 10  pc             2000 non-null   int8
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int8
 15  sc_w           2000 non-null   int8
 16  talk_time      2000 non-null   int8
 17  three_g        2000 non-null   category
 18  touch_screen   2000 non-null   category
 19  wifi           2000 non-null   category
 20  price_range    2000 non-null   category
dtypes: category(7), float64(2), int64(5), int8(7)
memory usage: 137.8 KB

In [9]:
df['clock_speed'] = df['clock_speed'].astype('float16')
df['m_dep'] = df['m_dep'].astype('float16')

In [10]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   category
 2   clock_speed    2000 non-null   float16
 3   dual_sim       2000 non-null   category
 4   fc             2000 non-null   int8
 5   four_g         2000 non-null   category
 6   int_memory     2000 non-null   int8
 7   m_dep          2000 non-null   float16
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int8
 10  pc             2000 non-null   int8
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int8
 15  sc_w           2000 non-null   int8
 16  talk_time      2000 non-null   int8
 17  three_g        2000 non-null   category
 18  touch_screen   2000 non-null   category
 19  wifi           2000 non-null   category
 20  price_range    2000 non-null   category
dtypes: category(7), float16(2), int64(5), int8(7)
memory usage: 114.3 KB

In [11]:
df.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,1.522461,4.309500,32.046500,0.501953,140.249000,4.520500,9.916500,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000
std,439.418206,0.815918,4.341444,18.145715,0.288330,35.399655,2.287837,6.064315,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955
min,501.000000,0.500000,0.000000,2.000000,0.099976,80.000000,1.000000,0.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000
25%,851.750000,0.700195,1.000000,16.000000,0.199951,109.000000,3.000000,5.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000
50%,1226.000000,1.500000,3.000000,32.000000,0.500000,141.000000,4.000000,10.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000
75%,1615.250000,2.199219,7.000000,48.000000,0.799805,170.000000,7.000000,15.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000
max,1998.000000,3.000000,19.000000,64.000000,1.000000,200.000000,8.000000,20.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000

In [12]:
cat_features = df.select_dtypes(include=['category']).columns.to_list()
cat_features

['blue',
 'dual_sim',
 'four_g',
 'three_g',
 'touch_screen',
 'wifi',
 'price_range']

In [13]:
num_features = df.select_dtypes(include=['number']).columns.to_list()
num_features

['battery_power',
 'clock_speed',
 'fc',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time']

In [14]:
for cat in cat_features:
    print(f'{cat} - number of unique = {df[cat].nunique()}')

blue - number of unique = 2
dual_sim - number of unique = 2
four_g - number of unique = 2
three_g - number of unique = 2
touch_screen - number of unique = 2
wifi - number of unique = 2
price_range - number of unique = 4

In [15]:
df.query('px_height == 0')

/home/mainuser/Nanikov/my_proj/.venv_my_proj/lib/python3.10/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/home/mainuser/Nanikov/my_proj/.venv_my_proj/lib/python3.10/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1481,1834,0,2.099609,0,7,1,40,0.099976,99,4,...,0,1987,3692,13,0,16,1,1,0,3
1933,897,1,2.000000,0,3,1,2,0.600098,154,8,...,0,994,1958,7,5,7,1,1,0,1

In [16]:
df.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,1.522461,4.309500,32.046500,0.501953,140.249000,4.520500,9.916500,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000
std,439.418206,0.815918,4.341444,18.145715,0.288330,35.399655,2.287837,6.064315,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955
min,501.000000,0.500000,0.000000,2.000000,0.099976,80.000000,1.000000,0.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000
25%,851.750000,0.700195,1.000000,16.000000,0.199951,109.000000,3.000000,5.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000
50%,1226.000000,1.500000,3.000000,32.000000,0.500000,141.000000,4.000000,10.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000
75%,1615.250000,2.199219,7.000000,48.000000,0.799805,170.000000,7.000000,15.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000
max,1998.000000,3.000000,19.000000,64.000000,1.000000,200.000000,8.000000,20.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000

In [20]:
df = df.query('px_height >= 20')

In [21]:
df.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time
count,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000
mean,1238.762291,1.522461,4.303599,32.058794,0.502441,140.415611,4.526102,9.920426,653.808920,1253.140902,2121.337557,12.315763,5.787126,11.003548
std,439.620774,0.815918,4.343932,18.106418,0.288086,35.424528,2.283851,6.056383,440.484535,431.854035,1083.025417,4.213874,4.363933,5.462994
min,501.000000,0.500000,0.000000,2.000000,0.099976,80.000000,1.000000,0.000000,20.000000,500.000000,256.000000,5.000000,0.000000,2.000000
25%,852.000000,0.700195,1.000000,16.000000,0.199951,109.000000,3.000000,5.000000,293.000000,876.000000,1208.000000,9.000000,2.000000,6.000000
50%,1225.000000,1.500000,3.000000,32.000000,0.500000,141.000000,4.000000,10.000000,576.000000,1248.000000,2144.000000,12.000000,5.000000,11.000000
75%,1616.000000,2.199219,7.000000,48.000000,0.799805,170.000000,7.000000,15.000000,952.000000,1633.000000,3057.000000,16.000000,9.000000,16.000000
max,1998.000000,3.000000,19.000000,64.000000,1.000000,200.000000,8.000000,20.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000

In [22]:
df = df.query('sc_w >= 3')

In [23]:
df.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time
count,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000
mean,1228.848991,1.504883,4.267919,32.350731,0.500488,140.091162,4.572721,9.778706,653.225470,1254.062630,2114.595685,12.977035,7.585247,11.027140
std,438.578154,0.806641,4.268810,18.280910,0.289795,35.619303,2.277975,5.945764,447.125012,434.691749,1082.333737,4.007326,3.743407,5.480399
min,501.000000,0.500000,0.000000,2.000000,0.099976,80.000000,1.000000,0.000000,20.000000,501.000000,256.000000,5.000000,3.000000,2.000000
25%,841.000000,0.700195,1.000000,16.000000,0.199951,109.000000,3.000000,5.000000,287.000000,874.000000,1203.000000,10.000000,4.000000,6.000000
50%,1207.000000,1.500000,3.000000,32.000000,0.500000,141.000000,5.000000,10.000000,564.000000,1251.000000,2137.000000,13.000000,7.000000,11.000000
75%,1600.000000,2.199219,7.000000,48.000000,0.799805,170.000000,7.000000,15.000000,954.000000,1636.000000,3031.000000,17.000000,10.000000,16.000000
max,1998.000000,3.000000,18.000000,64.000000,1.000000,200.000000,8.000000,20.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000